
.info-icon {
    position: relative;
    cursor: pointer;
}

.info-popup {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
    font-size: 14px;
    max-width: 200px; 
    text-align: left;
}

.info-icon:hover + .info-popup {
    display: block;
}

#da {
    margin-right: 45px;
}

#curs_valutar {
    position: absolute;
    top: 0px; /* Ajustați acest număr pentru a poziționa corect div-ul în partea de sus */
    right: 10px; /* Ajustați acest număr pentru a poziționa corect div-ul în partea dreaptă */
    left: 450px;
    /*z-index: 1000; /* Asigurați-vă că este peste celelalte elemente */

    /* Alte stiluri dorite pentru aspectul div-ului "curs_valutar" */
}

.cursul {
    margin-left: 900x;
}

#ref {
	z-index: 2000;
}
